# Node modules
node_modules/

# Build output
dist/

# Local env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Dependency directories
.pnp/
.pnp.js

# Misc
*.local

# Cache
.cache/
